<section class="row ">

  <h2 ng-bind="dashboard.userProfile.username"></h2>

      <a class="btn btn-primary"
         ng-href="#/new/palette">Create New Pallete</a>

  <br>


  <palettes>
    <count ng-bind="palettes.palettes.TotalRecordCount"></count>
    <palette class="col col-md-4"
           ng-repeat="palette in palettes.palettes">

      <common-name ng-bind="palette.Name"></common-name><br>
      <photo ng-if="palette.Photo" ><img ng-src="{{palette.Photo.Url}}"> </photo><br>

      <description ng-bind="palette.Description"></description><br>

    </palette>

  </palettes>

</section>

