<section class="row ">
  <h2 ng-bind="dashboard.user.profile.username"></h2>
  <palette-form>
    <form ng-submit="palettes.register(palettes.paletteNew)">
      <label>Palette name</label>
      <input class="form-control" ng-model="dashboard.paletteNew.name"
      autofocus>
      <br>
      <button class="btn btn-primary">Create New Pallete</button>

    </form>
    <br>
    <button class="btn btn-info">Fork Pallete</button>

  </palette-form>
  <br>
  <palettes>
    <count ng-bind="palettes.palettes.TotalRecordCount"></count>
    <palette class="col col-md-4"
           ng-repeat="palette in palettes.palettes">

      <common-name ng-bind="palette.Name"></common-name><br>
      <photo ng-if="palette.Photo" ><img ng-src="{{palette.Photo.Url}}"> </photo><br>

      <description ng-bind="palette.Description"></description><br>

    </palette>

  </palettes>

</section>

