<section class="row ">

  <label>Palette owner</label>
  <owner ng-bind="view.palette.owner"></owner>

  <palette-form>
    <form ng-submit="view.view(view.palette)">
      <label>Palette name</label>
      <input class="form-control" ng-model="view.palette.name"
      autofocus>
      <br>
      <label>Description</label>
      <textarea class="form-control" ng-model="view.palette.description"></textarea>

      <br>
      <button class="btn btn-primary">Clone Pallete</button>

    </form>

  </palette-form>

</section>

